@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Slussen';
  src: url('/fonts/Slussen-Compressed-Black.woff2') format('woff2');
  font-display: swap;
  font-weight: 900;
  font-stretch: compressed;
}

@font-face {
  font-family: 'Slussen';
  src: url('/fonts/Slussen-Expanded-Black.woff2') format('woff2');
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
}

@font-face {
  font-family: 'Slussen';
  src: url('/fonts/Slussen-Expanded-Black.woff2') format('woff2');
  font-display: swap;
  font-weight: 1000;
  font-stretch: expanded;
}

@font-face {
  font-family: 'Slussen';
  src: url('/fonts/Slussen-Medium.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Slussen';
  src: url('/fonts/Slussen-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Slussen';
  src: url('/fonts/Slussen-Semibold.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Slussen';
  src: url('/fonts/Slussen-Bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@layer base {
  :root {
    --background: 57 10% 86%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --complete: 120 6.5% 50%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 57 10% 10%;
    --input: 57 10% 10%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
    --accent: var(--red);

    --font-primary: 'Slussen';
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 7.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --complete: 120 30% 40%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 20 75% 40%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --red: #fe0222;
  }
}

@layer base {
  html {
  }
  * {
    @apply border-border;
    /* font-family: var(--font-primary); */
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}

html {
  font-weight: bolder;
  /* font-family: var(--font-primary); */
  scrollbar-width: thin;

  &.nav {
    overflow: hidden;
  }
}

.hero-after-gradient {
  position: relative;
  width: 100%;
}

.hero-after-gradient::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--background)
}

/* @media (min-width: 640px) { */
/*   .hero-after-gradient::after { */
/*     content: ''; */
/*     position: absolute; */
/*     top: 0; */
/*     left: 0; */
/*     width: 100%; */
/*     height: 100%; */
/*     background-image: linear-gradient( */
/*       to right, */
/*       rgba(224, 224, 224, 0.9), */
/*       rgba(251, 251, 251, 0.2), */
/*       rgba(224, 224, 224, 0.9) */
/*     ); */
/*   } */
/* } */
